.search_input{ /* classe specifica del text per la ricerca */
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    width: 100%;
    height: 28px;
    border-radius: 16px;
    padding: 0 12px 0 38px;
  
    background-size: 14px;
}
.search_img{ /* classe specifica del text per la ricerca */
    padding: 0px 0px 0px 30px;
}

.brand{ /* per */
    text-decoration: none;
    color: var(--primay);
    font-weight: 600;
    Letter-spacing: 3px;
}

.nav_link_custom{
    font-size: 100;
    font-weight: 100;
    padding: 0px 0px 0px 30px;
    text-decoration: none;
    color: var(--primaryC);
}

.nav_link_custom:hover{
    color: var(--accentC);
}